@media print {
    .tm-sidebar, #about, .heading, .blocks, #ideas, .img-fluid, #contact {
        display: none;
    }
    h2.tm-section-title {
        color: blue;
    }
    p.tm-banner-text::first-letter, 
    .tm-section-description::first-letter,
    .text-xs-center::first-letter {
        color: lightblue;
        font-size: 30px;
    }
    h2 + p {
       font-style: italic;
   }
    p {
        text-indent: 20px;
        line-height: 1.8;
    }
   .flex-2-col {    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
   }
   .flex-item img[alt="epam-mexico"] {
        width: 100%;
        margin-right: 10px;
   }
   .tm-team-description-container {
        max-width: 100%;
    }
}

@media screen {
    .tm-content-box.flex-2-col:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img[alt="epam-mexico"] {
        width: 100%;
    }
    .box-bg:hover, .box-bg:hover h2 {
        background-color: #87CEFA;
        color: white;
    }
    p::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }
    div.active h2 {
        color: gainsboro;
        letter-spacing: 5px;
     }
     h2 + p {
         font-style: italic;
     }
    li.tm-nav-item:hover {
        background-color: lightgrey;
    }
    .submit-btn {
        background-color: white;
        color: #87CEFA;
        border: 1px solid #87CEFA;
        border-radius: 0%;
        padding: 15px 35px;
        float: right;
    }
    .submit-btn:hover {
        border: none;
        background-color: #87CEFA;
        color: white;
    }
    .mandatory-field::after {
        content: '*';
        color: red;
    }
    p {
        text-indent: 20px;
        line-height: 1.8;
    }
    .tm-sidebar, 
    .tm-banner, 
    .flex-2-col,
    .tm-content-box {
        box-shadow: 0px 0px 18px #888888;  
    }
    .tm-banner {
        padding: 0px;
        border: 30px solid rgb(233, 233, 233);
    }
    .tm-banner-inner {
        margin: 0px;  
        border: 1px solid ligtgrey;
    }
    .box.box-work {
         padding: 8px;
    }  
    .box.box-work p{
        text-indent: 0px;
        font-size: 10px;
        line-height: 1.3;
    }  
    .box.box-work p::first-letter {
        color: black;
    }  
    section.blocks li:nth-of-type(2) {
		background-color: #f2f2f2;
	}
	section.blocks li:nth-of-type(4) {
		background-color: #f2f2f2;
	}
	section.blocks li:last-child {
		background-color: #f2f2f2;
    }
    .padding-medium ol li a.text::after {
		content: "New";
		color: red;
		vertical-align:super;
		font-size: 10px;
    }
    .padding-medium ol li a:visited {
        text-decoration: underline;
    }
    .padding-medium ol li a:hover {
        color: lightskyblue;
        text-decoration: underline double;
    }
    section {
	    position: relative;
	}
    section::after {
		content: '';
		position: absolute;
		left: 0; 
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 150px 10px 0;
		border-color: lightskyblue transparent transparent transparent;  
	}
    .tm-content-box.flex-2-col:nth-child(2)::after{
        content: none;
    } 
}





