@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

$headerBackground: url(../img/header_background_v2.jpg);
$buttonColor: #0401ac;
$h3Color: #607d8b;
$titleColor: #ff5722;
$articleBackground: #fff;
$textColor: #757575;
$mainBkg: #efefef;
$dateColor: #bdbdbd;
$borderColor: #607d8b;

$fontsizeS: 18px;
$fontsizeL: 26px;

$fw: normal;

$ff-rob: 'Gentium Book Basic', serif;
$ff-ubu: 'Ubuntu', sans-serif;
$ff-cant: 'Cantarell', sans-serif;
$ff-hel: 'Helvetica', sans-serif; 