@import url('https://fonts.googleapis.com/css?family=Cantarell|Roboto:300,400|Ubuntu:300,400');

$headerBackground: url(../img/header_background_v1.jpg);
$buttonColor: #01acac;
$h3Color: #01acac;
$titleColor: #fff;
$articleBackground: #efefef;
$textColor: #000;
$mainBkg: #fff;
$dateColor: #e90303;
$borderColor: #607d8b;

$fontsizeS: 15px;
$fontsizeL: 24px;

$fw: 300;

$ff-rob: 'Roboto', sans-serif;
$ff-ubu: 'Ubuntu', sans-serif;
$ff-cant: 'Cantarell', sans-serif;
$ff-hel: 'Helvetica', sans-serif; 



